@import "tailwindcss";

/* ==========================================
   BASE ROOT (optional future branding setup)
========================================== */
:root {
  --font-primary: "Instrument Sans", system-ui, sans-serif;
  --font-serif: "Tinos", serif;

  --color-dark: #2b2b2b;
  --color-light: #ffffff;
  --color-grey: #9192a0;
  --color-accent: #00fec3; 
  --color-brand: #191f68;
}

/* Notes us this class 
  bg-[var(--color-accent)]
  bg-[var(--color-brand)]
*/

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Global heading tags default */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 500;
}

/* Global container */
.web-width {
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
}

i,
em {
  font-family: var(--font-serif) !important;
  font-style: italic;
}
/* 
.text-white * {
  color: var(--color-light) !important;
} */

/* ==========================================
   HERO HEADING (heading-xl)
   Mobile-first → larger breakpoints added
========================================== */

.heading-xl,
.heading-xl h1,
.heading-xl p {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: var(--color-light);
}

.heading-xl p i,
.heading-xl p em,
.heading-xl h1 em {
  font-family: var(--font-serif) !important;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.highlighted-heading {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

/* Tablet */
@media (min-width: 768px) {
  .heading-xl,
  .heading-xl h1,
  .heading-xl p {
    font-size: 50px;
    line-height: 58px;
  }
  .heading-xl h1 em,
  .heading-xl p em,
  .heading-xl p i {
    line-height: 58px;
  }

  section#case-section {
    padding-bottom: 120px;
  }

  #home #services-section {
    padding-top: 0;
  }
  main#home section#case-section {
    padding-bottom: 0px;
  }
}

/* Medium Screens */
@media (min-width: 1024px) {
  .heading-xl,
  .heading-xl h1,
  .heading-xl p {
    font-size: 60px;
    line-height: 72px;
  }
  .heading-xl h1 em,
  .heading-xl p em,
  .heading-xl p i {
    line-height: 70px;
  }
  .cta-fix img.rounded-sm.object-cover:nth-child(1) {
    height: 215px !important;
  }

  .cta-fix img.rounded-sm.object-cover:nth-child(3) {
    height: 45px !important;
  }
}

/* Large Desktop */
@media (min-width: 1280px) {
  .highlighted-heading {
    font-size: 48px;
    line-height: 58px;
  }

  .heading-xl {
    font-size: 80px;
    line-height: 86px;
  }

  .heading-xl p,
  .heading-xl h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .heading-xl p i,
  .heading-xl p em,
  .heading-xl h1 em {
    line-height: 100px;
  }
}

@media (min-width: 1500px) and (max-width: 3840px) {
}

/* ==========================================
   BODY TEXT
========================================== */
.body-text {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark);
}

/* Hero variation (white text) */
.hero .body-text {
  color: #fff;
  font-size: 18px;
}

/* ==========================================
   ABOUT SECTION TYPOGRAPHY
========================================== */

/* Label with dot */
.subheading-label {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--color-grey);
  text-transform: uppercase;
}

.subheading-label.text-white {
  color: #fff;
}
/* Main H2 title */
.section-heading {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500 !important;
}

span.subheading-label.text-\[var\(--color-accent\)\],
#inner-hero .subheading-label {
  color: var(--color-accent) !important;
}

/* Tablet */
@media (min-width: 768px) {
  .section-heading {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: 1024px) {
  .img-120 {
    height: 120px;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .section-heading {
    font-size: 64px;
    line-height: 70px;
  }
}

.overflow-visible.service-swiper {
  overflow: visible !important;
}

/* Content heading */
.content-heading {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
}

.content-heading.text-white {
  color: #fff;
}

.space-y-1 p {
  margin-top: 12px;
}

/* Desktop */
@media (min-width: 1280px) {
  .content-heading {
    font-size: 32px;
    line-height: 38px;
  }
}

/* One-liner */
.left-oneliner {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.analyser-index button:nth-last-child(1) span {
  opacity: 0;
  border: none;
  margin: 0;
}

.border-btm button:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #91929f4d;
  width: 97%;
  bottom: 0;
  right: 0;
}

.bullet-box ul {
  margin-top: 40px;
  list-style: disc;
  list-style-position: inside;
}

.bullet-box ul li {
  padding: 16px 0;
  border-bottom: 1px solid #91929f59;
}

.team-filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.marquee-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 4s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.team-title {
  font-family: var(--font-serif) !important;
}

.core-text {
  font-weight: 600 !important;
  letter-spacing: 5.6px;
}

.tracking-widest {
  letter-spacing: 0.6px;
  color: #9192A0 !important;
}

.service-link img {
  height: 24px !important;
  width: auto !important;
}

.footer-quick-link:nth-child(1) img {
    top: 15px;
}

.copyright-social-gap p a:hover {
    color: #fff;
    transition: color 0.3s ease;
}

.privacy-text p {
  margin-bottom: 1em;
}

.privacy-text p b {
    font-size: 20px;
}

.privacy-text ul {
    margin-bottom: 1em;
    list-style: disc;
    list-style-position: outside;
    margin-left: 25px;
}

.privacy-text ul li {
  margin-bottom: 0.5em;
}

.result-number:nth-child(1) .suffix-text {
    font-size: 70px;
}

#key-problems .gap-4 img.object-contain {
    height: 30px;
    width: auto;
}

#key-problems .gap-4 img.object-contain.manual-workload {
    height: 29px;
}
/* ==========================================
   SLIDER TEXT (client logos)
========================================== */
.caption-text {
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.client-title {
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.ticker-wrapper img {
  height: 38px !important;
  width: auto !important;
}

@media screen and (max-width: 767px) {
  .heading-xl h1 {
    font-size: 50px;
    line-height: 58px;
  }
  .heading-xl h1 em {
    line-height: 58px;
  }
  .section-heading br {
    display: none;
  }
  section#case-section {
    padding-bottom: 60px;
  }
}
